@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(1, 1, 1);
  background: linear-gradient(
    166deg,
    rgba(1, 1, 1, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.tarjeta {
  background: rgb(241, 176, 236);
  background: linear-gradient(
    180deg,
    rgba(241, 176, 236, 0.7693277994791666) 0%,
    rgba(13, 13, 13, 0.9401961468181023) 100%
  );
}
